.items-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;


  }

.barra-nav ul li {
    list-style-type: none;
    margin: 0px 50px;
    padding: 10px 10px;
    border-radius:25px;
    }
    
    .navbar-brand {
      font-size: 30px;  
    }
.barra-nav ul li:hover {
        background-color: turquoise;
}
    